body {
  margin-top: 85px;
  color: white;
  background-color: #212529;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.signUpContainer {
  max-width: 700px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 5px;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  border-radius: 10px;
}
.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-align: center;
}

.titleFavMov {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  border-radius: 10px;
  color: #007bff;
  font-size: larger;
  text-transform: uppercase;
}

.container3 {
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 4px;
  letter-spacing: 1px;
  background-color: #080808;
}

.container4 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  margin: 0px 10px;
}

.logo {
  padding: 5px;
  margin: 5px 5px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.singleMovie {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  background: linear-gradient(10deg,#e5e6e6 5%,transparent);
}

.singlePoster {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 30px;
}

.singleMovieInfo {
  color: black;
  font-size: 24px;
  margin-left: 50px;
  line-height: 1.2em;
}

.moviePlot {
  text-align: center;
  width: 800px;
  line-height: 1.5em;
  padding: 10px;
  color: rgb(5, 5, 146);
  text-transform: uppercase;
}

.info {
  text-transform: none;
}

.movies {
  display: flex;
  justify-content: center;
  background: linear-gradient(10deg,#e5e6e6 5%,transparent);
  border-radius: 10px;
  align-items: center;
  padding: 60px;
  flex-wrap: wrap;
}

.posters {
  border-radius: 15px;
  height: 300px;
  width: 200px;
  margin: 15px;
}

.posters:hover {
  display: block; 
  background-color: #7eb7f58f;
  padding: 5px 5px 5px 5px;
}

.containerAddFav {
  text-align: center;
}

.containerAddFav p {
  margin: 1px;
}

.btnAddFav {
  height: 40px;
  width: 40px;
}

.btnAddFav:hover {
  cursor: pointer;
}

#omdbTitulo:hover{
  text-decoration: none;
  color: #007bff;
}

#btnLogin:hover{
  background-color: #212529;
  color: #ffc107;
}

#btnUser:hover{
  background-color: #212529;
  color: #007bff;
}

.signUpInputs{
  padding: 10px 10px 10px 70px;
}

.nameInput{ 
  background-image: url(./utils/images/user.png) !important;
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: 0.5em center;
}

.emailInput{ 
  background-image: url(./utils/images/email.png) !important;
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: 0.5em center;
}

.passwordInput{ 
  background-image: url(./utils/images/lock.png) !important;
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: 0.5em center;
}

.searchInput{ 
  background-image: url(./utils/images/search.png) !important;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: 0.5em center;
  padding-left: 60px;
}

.seePassword{
  margin-right: 0;
}

.favouriteIcon:hover{
  cursor: pointer;
}

.profileCards{
  border-radius: 25px;
}

.profileCards:hover{
  background-color: #f0f0f0;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.2s ease;
  border-radius: 15px;
}

.usersFoundCards{
  border-radius: 40px !important;
  background: linear-gradient(140deg, #be8f00, rgb(67, 84, 110), rgb(0, 0, 0));
}

.usersFoundCards:hover{
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.2s ease;
  border-radius: 55px;
}

.underConstruction{
  background-image: url(./utils/images/Under_Construction_Sign.jpg);
}

h1, h2, h3{
  font-family: 'Rammetto One', cursive;
}